---
version: 2.1

orbs:
  orb-tools: circleci/orb-tools@9.1.1

workflows:
  lint_pack_test_publish-dev:
    jobs:
      - orb-tools/lint
      - orb-tools/pack:
          requires:
            - orb-tools/lint
      - orb-tools/test-in-builds:
          attach-workspace: true
          orb-name: ecs-deploy
          test-steps:
            - orb-tools/local-test-build:
                test-config-location: test/config.yml
          requires:
            - orb-tools/pack
      - orb-tools/publish-dev:
          orb-name: inokappa/ecs-deploy-install
          requires:
            - orb-tools/test-in-build
